.background{
    background: url("background.jpg") no-repeat;
    background-size: cover;
}
#first-hero .avatar{
    background: url("hero1.jpg") no-repeat;
    background-size: cover;
}
.avatar{
    width: 150px;
    height: 200px;
    border: solid;
    border-color: #000;
    border-radius: 10px;
}
#first-hero{
    width: 300px;
    height: 600px;
}
.name{
    font-size: 25px;
    font-family: sans-serif;
    text-indent: 5px;
    color: darkblue;
}
.settings{
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
}